.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  height: 3em;
  margin: 12px;
  font-size: 2em;
}

.container h2 {
  font-family: fantasy;
  text-align: center;
}
